* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Helvetica;
  font-size: 16px;
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

.Button {
  position: relative;
  width: 300px;
  height: 65px;
  border: 4px solid #fff;
  color: #fff;
  line-height: 57px;
  text-align: center;
  text-transform: uppercase;
  background: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.Bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(135deg, #AD6BFF, #74BCF7);
  height: 100vh;
  width: 100vw;
}

.Input {
  position: relative;
  background: #fff;
  border: none;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 75px;
  z-index: 1;
  padding: 10px;
  box-sizing: border-box;
}

.Input-label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  opacity: 0.3;
  text-transform: uppercase;
  width: 100%;
}

.Input-input {
  display: block;
  font-size: 18px;
  height: 50px;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  font-weight: bold;
}

.Index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Index-form {

}

.Player {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25vw;
  height: 100vh;
  padding: 30px 30px 0;
  background: linear-gradient(135deg, #AD6BFF, #74BCF7);
  display: flex;
  flex-direction: column;
}

.Album {

}

.Album img {
  display: block;
  width: 100%;
  box-shadow: 0 35px 60px rgba(0,0,0,.15);
  margin-bottom: 58px;
}

.Album-artist {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.Album-title {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  opacity: .5;
  margin-bottom: 20px;
}

.TrackList {
  width: 100%;
  list-style: none;
  padding: 0;
  flex: 1 0 0;
  overflow: auto;
  margin: 0;
}

.Track {
  color: #fff;
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.Track-left {
  display: flex;
}

.Track-number {
  margin-right: 5px;
}

.Track-duration {
  opacity: .75;
}
